.create {
  width: 94%;
  margin: 30px 0 30px 30px;
  border-radius: 8px;
  text-align: center;
  background: var(--defaultColor);
  display: flex;
  justify-content: center;
}

.iname {
  color: var(--textColor);
  padding: 10px 30px 0 30px;
  font-size: 24px;
  font-weight: 700;
}

.create form {
  width: 60%;
  padding: 10px;
}

.titleGroup,
.detailGroup,
.imageGroup,
.priceGroup {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

label {
  text-align: left;
  margin-bottom: 5px;
}

form input {
  height: 30px;
  border-radius: 5px;
  outline: 0;
  border-color: transparent;
  box-shadow: 1px 2px 5px var(--boxColor);
  padding: 5px;
}

form input:hover {
  box-shadow: 1px 1px 5px var(--boxColor);
}

textarea:hover {
  box-shadow: 1px 1px 5px var(--boxColor);
}

textarea {
  border-radius: 5px;
  outline: 0;
  border-color: transparent;
  box-shadow: 1px 2px 5px var(--boxColor);
  padding: 5px;
}

.postBtn {
  background-color: var(--primaryColor);
  padding: 10px;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
}

.postBtn a {
  color: var(--defaultColor);
  display: block;
  width: 100%;
  height: 100%;
}
