@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

:root {
  --primaryColor: #061ca9;
  --secondaryColor: yellow;
  --cardColor: aliceblue;
  --textColor: #000;
  --defaultColor: #f2f2f2;
  --boxColor: gray;
  --deleteColor: red;
  --poppin: "Poppins", sans-serif;
  --roboto: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inner {
  max-width: 1400px;
  margin: 0 auto;
}

/* Start Title */

.title {
  font-weight: bold;
  font-family: var(--roboto);
  text-align: center;

  letter-spacing: 2px;
  padding: 60px;
}

.title > h2 {
  font-size: 32px;
  color: var(--textColor);
}

/* End Title */

/* Start Customer */

.customerCard {
  width: 100%;
  margin: auto;
  font-family: var(--roboto);
  font-size: 20px;
  text-align: center;
}

.cImg {
  text-align: center;
  padding: 20px 0;
}

.cImg img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.cName {
  font-family: var(--roboto);
  text-align: center;
}

.customerCard p {
  padding: 20px 0;
  opacity: 0.8;
}

.cRating {
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 1.5rem 0;

  color: var(--secondaryColor);
}

/* End Customer */

/* Start combo Login and Register Css Code */

.login {
  width: 60%;
}

.loginBg {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right,
    rgba(200, 151, 204, 255) 0,
    rgba(97, 100, 250, 255) 45%,
    rgba(136, 124, 253, 255) 80%
  );
}

.titleLogin > h1 {
  color: var(--defaultColor);

  font-size: 40px;
  padding: 0;
  margin: 0;

  letter-spacing: 2px;
}

.titleLogin > p {
  margin-top: 20px;
  color: var(--defaultColor);
  letter-spacing: 1px;
}

.titleLogin {
  width: 80%;
}

.titleBox {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px 0 20px 0;
}

/* End combo TextBox of Login and Register */

/* createContent */

/* createContent */

/* feedback */

/* feedback */
